*{
    margin: 0;
    padding: 0;
    box sizing: border-box; 
}

body{
    background-color: #FAB8F9;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

form{
    dispaly: flex;
    flex-direction:column;
}